table{
    border: 1px solid black;
    background-image: url(wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 1em;
}
td {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 5em;
    background-color: white;
}
#butInd {
    background-color: blue;
    border-radius: 6em;
    width: 50px;
    height: 50px;
}
#butIn1 {
    border-radius: 1em;
    width: 20px;
    height: 20px;
}
#butIn2 {
    border-radius: 1em;
    width: 20px;
    height: 20px;
}

#playerInd {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 2em;
    width: 10%;
    float: left;
    margin-top: 200px;
    margin-left: 200px;
}
#tab {
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
body {
    background-image: url(bg.jpg);
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
#img {
    width: 50px;
}